<%- layout('layouts/boilerplateforhome') %>


<div class="d-flex text-center text-white">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <div class="px-3">
      <h1 class="custom-heading">Let's visit our Timeless towers</h1>
      <p class="lead">
        Welcome to HistoricHaven! Jump right in and explore our many Monumental sites.
        <br />
        Feel free to share some of your own voyage experience and comment on others!
      </p>
      <a
        href="/campgrounds"
        class="btn btn-lg btn-secondary font-weight-bold border-white bg-white button-font" style="color: black; font-family: 'Gill Sans';"
        >Monumental Wonders</a
      >
    </div>
  </div>
</div>